<link href="~/css/sections/footer.css" rel="stylesheet" />
<footer class="panel-footer footer">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 footerText"><p>&copy; 2017 - StyleGuide_Srilekha</p></div>
        <div class="col-md-4"></div>
    </div>    
</footer>