<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row">

            <div class="col-md-5">
                <div class="navbar-header">
                   <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Style Guide</a>
                </div>
            </div>


            <div class="col-md-7">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="activeMenu" asp-area="" asp-controller="Home" asp-action="Index">Thing 1</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="">Thing 2</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="">Thing 3</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="">Thing 4</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="">Thing 5</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="">Thing 6</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="">Thing 7</a></li>
                        <li class="nav nav-divider"></li>
                        <li>
                            <a>
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </li>
                        <li class="nav-divider"></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Srilekha Desaraju<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="Home" asp-action="">item1</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="">item2</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="">item3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
</nav>