.shadowedLine {
    margin-top: 0;
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background-color: #ddd;
    box-shadow: 0px 1px 1px #808080;
    width: 320px;
    align-self: flex-start;
}

.line {
    margin-top: 0;
    margin-bottom: 0px;
    border: 0;
    height: 1px;
    background-color: #ddd;
}


.operation {
    text-decoration: underline;
}


.main {
    background-color: #faf6f6;
    width: 100%;
    margin-left: 0px;
    padding: 0px;
}


.activeSideMenu {
    background-color: #0D4F8B;
    border-bottom: none;
    color: white !important;
}

.activeLinkSubMenu {
    background-color: #014382;
    border-bottom: none;
}

.divBackground {
    background-color: #ddd;
    height: 50px;
    padding: 15px;
    margin-left: 0px;
    position: relative;
}


.glyphicon-plane {
    color: #0D4F8B;
    position: absolute;
    margin-top: -3px;
    margin-left: -18px;
    font-size: 42px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.glyphicon-chevron-down {
    position: absolute;
    font-size: 10px;
    margin-top: 12px;
    font-weight:100;
    }
