//=== Inverted navbar
$navbar-inverse-bg: #0D4F8B;
$navbar-inverse-border: #15156b;

// Inverted navbar brand label
$navbar-inverse-brand-color: white;
$navbar-inverse-brand-hover-color: white;
$navbar-inverse-brand-hover-bg: transparent;

// Inverted navbar links
$navbar-inverse-link-color: white;
$navbar-inverse-border-bottom-width: 3px;

//** Hover background for dropdown links.
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: $navbar-inverse-bg;

//## Font, line-height, and color for body text, headings, and more.
$font-family-serif: Arial, Helvetica, sans-serif;
$font-family-base: $font-family-serif;
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 3.6));
$font-size-h3: floor(($font-size-base * 4.6));
$headings-font-family: Verdana, Geneva, sans-serif;
$headings-color: black;

//Other stuff
$label-default-bg: #7a7979;
$panel-footer-bg: #faf6f6;
$table-border-color: #ddd;

//## User created variables - Custom
$disabled-content: #eae9e9;
$content-bg: #faf6f6;
